*, html, body {
    font-family: "sans-serif";
}
#createNewRoom {
    margin-bottom: 10px;
}
select {
    text-transform: capitalize;
}
.navbar-sidebar .navbar__list li.active > a {
    color: red;
}
.navbar-sidebar .navbar__list li a:hover {
    color: red;
}
